/* --- Universal styles ---- */

* {
    box-sizing: border-box;
}
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---- Page style ---- */

body {
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 1fr / 1fr;
    place-items: center;
    background-image: url('./images/background.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* ---- Main section ----- */

.main {
    background-color: #d5e1ef;
    place-self: center;
    width: 60%;
    height: 60%;
    min-width: 350px;
    min-height: 500px;
    grid-area: 1 / 1 / 2 / 2;
    box-shadow: 0px 15px 25px -5px hsl(0deg 0% 0% / 24%);
    display: grid;
    place-items: center;
}

/* ----- Card ------ */

.container {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    background-color: #fff;
    padding: 1em 0;
    border-radius: 15px;
    box-shadow: 0px 5px 10px -1px hsla(240, 0%, 0%, .15);
}

/* ----- QR image ------- */

.img-container {
    width: 90%;
    margin: 0 auto;
    padding: 0 0 .5em;
}
.img-container img {
    width: 100%;
    border-radius: 10px;
}

/* ----- Card text ---- */

.container h3, .container p {
    text-align: center;
    font-family: 'Outfit', sans-serif;
    width: 80%;
    margin: 0 auto;
    padding: .5em 0;
}
.container h3 {
    font-weight: 700;
    font-size: 1.3rem;
    color: #080033;
}
.container p {
    font-weight: 400;
    font-size: 1rem;
    color: grey;
    padding-bottom: 1em;
}

/* ------ Footer ----- */

.attribution { 
    font-size: 1.2rem;
    grid-area: 1 / 1 / 2 / 2;
    text-align: center;
    align-self: end;
    display: flex; 
    gap: 5rem;
}
.attribution h5 {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* ----- Media querries ------ */

@media only screen and (max-width: 1600px) {
    .main {
        width: 75%;
    }
}
@media only screen and (max-width: 1024px) {
    html {
        font-size: 14px;
    }
    .main {
        width: 80%;
    }
    .container {
        width: 35%;
    }
}
@media only screen and (max-width: 768px) {
    .main {
        width: 90%;
        height: 70%;
    }
    .container {
        width: 60%;
    }
}
@media only screen and (max-width: 480px) {
    .main {
        width: 95%;
        height: 80%;
    }
    .container {
        width: 80%;
    }
}
